/* * {
  I'm pretty sure this will come in handy.
} */

html {
  display: block;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 16px;
}

head {
  display: none;
}

title {
  display: none;
}

link {
  display: none;
}

body {
  margin: 0;
  font-family: Helvetica;
  color: seashell;
  background-image: url(../images/background.jpg);
  font-size: 1.375rem;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 3.125rem;
  padding-left: 0.625rem;
}

nav {
  display: block;
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 1.25rem 0.625rem;
}

a {
  padding: 1rem;
  color: seashell;
  cursor: pointer;
  text-decoration: underline;
}

.main {
  padding-top: 4.3125rem;
  opacity: 0.9;
  width: 75rem;
  margin: auto;
}

div {
  display: block;
}

#banner {
  height: 43.75rem;
  background-image: url(../images/christmas-tree-angel.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 9.375rem;
}

#banner .content {
  margin: auto;
  background-color: black;
  width: 100%;
  margin-top: 12rem;
}

h2, h3, h4 {
  margin: 0;
  padding: 0.625rem;
}

h2 {
  display: block;
  background-color: black;
  font-size: 2.0625rem;
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  margin-block-start: 1.33rem;
  margin-block-end: 1.33rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#pchas,
#pcc,
#hoh {
  /* height: 43.75rem; */
  width: 62.5rem;
  margin: auto;
  padding-top: 4.375rem;
}

.item {
  padding: 0.3125rem;
}

.item img {
  height: 12.5rem;
  margin: 0.625rem;
  display: block;
}

.item span {
  display: block;
  padding: 0.3125rem;
  font-weight: bold;
  text-align: center;
}

a {
  background-color: black;
}

#dates {
  background-image: url(../images/gift-bags.jpg);
  background-size: cover;
  background-position: center;
  height: 31.25rem;
  margin-top: 6rem;
  padding-top: 4.375rem;
}

#dates .flex-container {
  margin: auto;
  width: 68.75rem;
}

.flex-container .dates {
  padding-top: 0.3125rem;
}

.date {
  opacity: 1.0;
  padding: 0.625rem;
  margin: 0.625rem 1.25rem;
  background-color: black;
  flex-basis: 17.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.claimed {
  background-color: #8a1212;
}

#contact {
  height: 12.5rem;
  background-color: #8a1212;
  margin-top: 6rem;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

footer {
  display: block;
  text-align: left;
  padding-left: 1.25rem;
}

.transition-dropdown .wishes-container, 
.t-d2 .w-c2,
.t-d3 .w-c3,
.t-d4 .w-c4,
.t-d5 .w-c5,
.t-d6 .w-c6,
.t-d7 .w-c7,
.t-d8 .w-c8,
.t-d9 .w-c9,
.t-d10 .w-c10,
.t-d11 .w-c11,
.t-d12 .w-c12,
.t-d13 .w-c13,
.t-d14 .w-c14,
.t-d15 .w-c15,
.t-d16 .w-c16,
.t-d17 .w-c17,
.t-d18 .w-c18,
.t-d19 .w-c19,
.t-d20 .w-c20,
.t-d21 .w-c21,
.t-d22 .w-c22,
.t-d23 .w-c23,
.t-d24 .w-c24,
.t-d25 .w-c25,
.t-d26 .w-c26,
.t-d27 .w-c27,
.t-d28 .w-c28,
.t-d29 .w-c29,
.t-d30 .w-c30 {
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem 2rem 4rem;
  background-color: #8a1212;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  transition: top 700ms linear 100ms, opacity 1000ms linear 250ms;
}

.transition-dropdown:hover .wishes-container, 
.t-d2:hover .w-c2,
.t-d3:hover .w-c3,
.t-d4:hover .w-c4,
.t-d5:hover .w-c5,
.t-d6:hover .w-c6,
.t-d7:hover .w-c7,
.t-d8:hover .w-c8,
.t-d9:hover .w-c9,
.t-d10:hover .w-c10,
.t-d11:hover .w-c11,
.t-d12:hover .w-c12,
.t-d13:hover .w-c13,
.t-d14:hover .w-c14,
.t-d15:hover .w-c15,
.t-d16:hover .w-c16,
.t-d17:hover .w-c17,
.t-d18:hover .w-c18,
.t-d19:hover .w-c19,
.t-d20:hover .w-c20,
.t-d21:hover .w-c21,
.t-d22:hover .w-c22,
.t-d23:hover .w-c23,
.t-d24:hover .w-c24,
.t-d25:hover .w-c25,
.t-d26:hover .w-c26,
.t-d27:hover .w-c27,
.t-d28:hover .w-c28,
.t-d29:hover .w-c29,
.t-d30:hover .w-c30 {
  top: 0;
  opacity: 1;
}

/* .definable .definition-container {
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem 2rem 4rem;
  background-color: #ffffff;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  transition: top 1000ms linear 150ms, opacity 1000ms linear 250ms;
}

.definable:hover .definition-container {
  top: 0;
  opacity: 1;
} */

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}